*{
  margin: 0;
  padding:0; 
     }
     #sidebar{
  position: fixed;
  width: 200px;
  height: 100%;
  background: #41ade7;
  left: -200px;
  transition: all 500ms linear;
     }
     
     #sidebar.active {
      left: 0;
              
     }
     
     #sidebar ul li {
  color: rgba(230, 230, 230, .9);
  text-align: center;
  padding: 15px 10px;
  list-style: none;
  border-bottom: 1px solid rgba(100,100,100, .3);
     }
     
     .UCR_LOGO_NEGRO{
         
  border-radius: 50%;
  display: block;
  margin: 0 auto;
         
          }
          
    #sidebar .toggle-btn{
  position: absolute;
  left: 230px;
  top: 20px;
  cursor: pointer;
             }
             
    #sidebar .toggle-btn span{
  display: block;
  width: 40px;
  text-align: center;
  font-size: 30px;
  border: 1px solid #000;  
             }
             
             body{
                
                 background-image: url("Ssur.jpg");
                 background-repeat: no-repeat;
                 background-size: cover;
                 background-attachment: fixed;
                 
             }